.smallButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  width: 177px;
  height: 48px;
  background: linear-gradient(
    102.98deg,
    #ffac66 0%,
    #ff7500 41.89%,
    #e56900 84.71%
  );
  border-radius: 40px;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}
.largeButton{
    @extend .smallButton;
    width: 232px;
    height: 64px;
    justify-content: space-around;
}