body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.orangeGradientText{
  font-family: Poppins;
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  background: linear-gradient(
    102.98deg,
    #ffac66 0%,
    #ff7500 50%,
    #e56900 84.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
