body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.orangeGradientText {
  font-family: Poppins;
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  background: linear-gradient(
    102.98deg,
    #ffac66 0%,
    #ff7500 50%,
    #e56900 84.71%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .orangeGradientText {
    font-size: 24px;
    line-height: 38px;
  }
}
